@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Fredoka+One");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  width: 100%;
  height: 100%;
}
th {
  text-align: center;
}
#right {
  padding-right: 30px;
}

#right2 {
  padding-right: 10px;
}

#item {
  display: flex;
  padding-right: 25px;
  padding-left: 25px;
}

#myFooter {
  padding-top: 50px;
}

#searchBar {
  width: 600px;
}

.products {
  border: 1px solid #333;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 16px;
  margin-bottom: 20px;
}
#body_product {
  padding-top: 50px;
}

#product_img {
  width: 3000px;
  padding-right: 30px;
}

.product_text {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
}
.product_price {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
  font-size: 20px;
}

.product_info {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  color: deepskyblue;
}

.product_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
}

.estrella {
  display: flex;
  color: yellow;
  font-size: 20px;
}

#buyingCart {
  border: 1px solid #333;
  background-color: white;
  border-radius: 5px;
  padding: 16px;
  margin-bottom: 20px;
}

.option_text {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  font-style: oblique;
}

.option_number {
  width: 50%;
  border: ridge;
}
#btn_shopping {
  margin-top: 5px;
  width: 100%;
}

.tableTex {
  display: flex;
  font-size: 20px;
}
#myCart {
  padding-top: 60px;
}
.simple_a {
  background-color: #e3e3e3;
  background-image: none;
  background: none;
  border: none;
  color: black;
}

.subtotal_pago,
.total_pago,
.monto {
  background-color: #e3e3e3;
  background-image: none;
  background: none;
  border: none;
  color: black;
}

.btn_pago {
  width: 100%;
}

.charts {
  display: flex;
  padding-top: 40px;
  align-items: center;
  font-family: "Open Sans";
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.stadistic,.error {
  font-family: "Fredoka One";
 
}
.stadistic_err{
  font-family: "Fredoka One";
  text-align: center;
}

.titulos {
  text-align: center;
}
.items {
  display: flex;
  justify-content: space-around;
}

.detalles {
  padding-bottom: 30px;
  position: sticky;
}


.error_mj {
  font-family: "Open Sans";
  color: red;
}